/* Keyframes */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fadeIn {
	opacity: 0;   
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes rotate { from { opacity: 0; } to { opacity: 1; transform: rotate(360deg) } }
.rotate {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards; 
    animation-duration: 1s;

	animation: rotate ease-in 1;
	animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fromUp { from { top: -226px;} to { top: 0px;}}
.fromUp {
    top: -50px;
    animation: fromUp ease-in 1;
    animation-fill-mode: forwards; 
    animation-duration: 0.5s;
}

@keyframes fallDown { from { height: 0px;} to { height: 61.007462686567166vh;;}}
.fallDown {
    height: 0px;
    animation: fallDown ease-in 1;
    animation-fill-mode: forwards; 
    animation-duration: 1s;
}

#background {
    background: #28B291;
    position: absolute;
    width: 100vw;
    height: 20000px;
}

#navbar {
    background: #4B4B4B;
    position: fixed;
    width: 50px;
    height: 90vh;
    border-bottom: transparent;
    border-bottom-right-radius: 100px;
    z-index: 1;
}
/***********************************/

/* Banner */
#bananaLeaf {
    position: absolute;
    left: 32.948vw;
    z-index: 1;
    width: 37.5vw;
}

.blur {
    filter: blur(6px);
}

#bananaBlur1 {
    position: absolute;
    left: 45px;
    z-index: -1;
    width: 37.5vw;
}

#bananaBlur2 {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 37.5vw;
}

#kungsLogo {
    position: absolute;
    z-index: 2;
    width: 32.8vw;
    left: 35vw;
    top: 2vw;
}
/***********************************/

/* Kungs Portrait */
#kungsPortrait {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 17.85820895522388vh;
    width: 42.19409282700422vw;
}

#kungsBase {
    position: absolute;
    width: 42.287857477730896vw;
    height: 2.798507462686567vh;
    background: #F5865B;
    z-index: 4;
    right: 0;
    top: calc(15.85820895522388vh + 42.19409282700422vw);
}

#kungsBoard {
    position: absolute;
    width: 39.84997655883732vw;
    background: #393939;
    z-index: 3;
    right: 1.2189404594467885vw;
    top: calc(15.85820895522388vh + 42.19409282700422vw);
}

.text {
    color: #393939;
    z-index: 2;
}
/***********************************/

/* Biography */
.biography {
    color: #28B291;
    left: 65.63525550867323vw;
    z-index: 3;
    position: absolute;
    font-size: 3.0473511486169715vw;
    font-family: gilbert-color,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bioIcon {
    position: absolute;
    z-index: 3;
    width: 4.688232536333802vw;
    height: 4.688232536333802vw;
    left: 60.00937646507267vw;
}

#franceMap {
    top: 107.27611940298507vh;
}

#placeBirth {
    top: 108.30223880597015vh;
}

#song {
    top: 125.93283582089552vh;
}

#songsCreated {
    top: 126.9589552238806vh;
}

#singer {
    top: 144.58955223880596vh;
}

#nominated {
    top: 142.07089552238807vh;
}

/***********************************/

/* Headline */
#name {
    font-size: 4.688vw;
    font-family: flegrei, sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 23vw;
    position: absolute;
    left: 80px;
}

#occupation {
    font-size: 2.344vw;
    font-family: gilbert-color,sans-serif;
    font-weight: 700;
    font-style: normal;
    left: 90px;
    position: absolute;
    top: 28vw;
}
/***********************************/

/* Milestones */
.milestonesImages {
    position: absolute;
    border-width: 0.46882325363338023vw;
    border-style: solid;
    border-color:#F5865B;
    border-radius: 500px;
    width: 50px;
    height: 50px;
    z-index: 2;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.603);
}

.milestonesText {
    font-size: 1.1720581340834506vw;
    font-family: gilbert-color,sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
}

.bar {
    position: absolute;
    width: 11.720581340834505vw;
    height: 0.46882325363338023vw;
    background: #F5865B;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.603);
}

#barSpotify {
    top: 90.48507462686567vh;
    left: 29.301453352086263vw;
    width: 16.408813877168306vw;
}

#textSpotify {
    left: 35.39615564932021vw;
    top: 91.88432835820896vh;
}

#barNJR {
    top: 65.29850746268657vh;
    left: 33.98968588842006vw;
    width: 16.408813877168306vw;
}

#textNJR {
    top: 66.69776119402985vh;
    left: 40.08438818565401vw;
}

#barLos40 {
    top: 74.6268656716418vh;
    left: 10.548523206751055vw;
}

#textLos40 {
    text-align: right;
    top: 76.02611940298507vh;
    left: 8.29817158931083vw;
}
/***********************************/
.los40Container {
    width: 7.032348804500703vw; height: 7.032348804500703vw;
    border-radius: 4px;
    perspective: 900px;
    background-color: transparent;
    position: absolute;
    top: 70.8955223880597vh;
    left: 18.75293014533521vw;
    z-index: 3;
}

.los40Card {
    position: absolute;
    width: 100%; height: 100%;
    transition: .7s;
    transform-style: preserve-3d;
    background-color: transparent;
    border: transparent;
}

.los40Container:hover .los40Card{
    transform: rotateY(-180deg);
}

.los40Back {
    transform: rotateY(-180deg);    
}

.los40Front, .los40Back {
    position: absolute;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 150px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
    backface-visibility: hidden;
}

.NJRContainer {
    width: 11.720581340834505vw; height: 11.720581340834505vw;
    border-radius: 4px;
    perspective: 900px;
    background-color: transparent;
    position: absolute;
    top: 61.56716417910448vh;
    left: 28.129395218002813vw;
    z-index: 3;
}

.NJRCard {
    position: absolute;
    width: 100%; height: 100%;
    transition: all .7s;
    transform-style: preserve-3d;
    background-color: transparent;
    border: transparent;
}

.NJRContainer:hover .NJRCard{
    transform: rotateY(-180deg);
}

.NJRBack {
    transform: rotateY(-180deg);
}

.NJRFront, .NJRBack {
    position: absolute;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 150px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
    backface-visibility: hidden;
    }

.spotifyContainer {
    width: 11.720581340834505vw; height: 11.720581340834505vw;
    border-radius: 4px;
    perspective: 900px;
    background-color: transparent;
    position: absolute;
    top: 86.75373134328358vh;
    left: 23.44116268166901vw;
    z-index: 3;
}

.spotifyCard {
    position: absolute;
    width: 100%; height: 100%;
    transition: all .7s;
    transform-style: preserve-3d;
    background-color: transparent;
    border: transparent;
}

.spotifyContainer:hover .spotifyCard{
    transform: rotateY(-180deg);
}

.spotifyBack {
    transform: rotateY(-180deg);
}

.spotifyFront, .spotifyBack {
    position: absolute;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 150px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
    backface-visibility: hidden;
}

#homeIcon {
    position: absolute;
    z-index: 4;
    width: 40px;
    top: 10px;
    left: 3.5px;
}

#discIcon {
    position: absolute;
    z-index: 4;
    width: 40px;
    top: 70px;
    left: 3.5px;
}

#homeIcon, #discIcon {
    position: fixed;
}