/* Keyframes */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fadeIn {
	opacity: 0;   
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes rotate { from { opacity: 0; } to { opacity: 1; transform: rotate(360deg) } }
.rotate {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards; 
    animation-duration: 1s;

	animation: rotate ease-in 1;
	animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fromUp { from { top: -226px;} to { top: 0px;}}
.fromUp {
    top: -50px;
    animation: fromUp ease-in 1;
    animation-fill-mode: forwards; 
    animation-duration: 0.5s;
}


#background {
    background: #28B291;
    position: absolute;
    width: 100vw;
    height: 2000px;
}

#navbar {
    background: #4B4B4B;
    position: fixed;
    width: 50px;
    height: 90vh;
    border-bottom: transparent;
    border-bottom-right-radius: 100px;
    z-index: 1;
}
/***********************************/

/* Banner */
#bananaLeaf {
    position: absolute;
    left: calc((100vw - 750px) / 2);
    z-index: 1;
}

.blur {
    filter: blur(6px);
}

#bananaBlur1 {
    position: absolute;
    left: 45px;
    z-index: -1;
}

#bananaBlur2 {
    position: absolute;
    right: 0;
    z-index: -1;
}
/***********************************/

#kungsPortrait {
    position: absolute;
    z-index: 2;
    right: 0;
    top: calc((100vh - 725px) / 2)
}

.text {
    color: #393939;
    z-index: 2;
    position: absolute;
    top: 480px;
    left: 80px;
}

/* Headline */
#name {
    font-size: 90px;
    font-family: flegrei, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#occupation {
    font-size: 45px;
    font-family: gilbert-color,sans-serif;
    font-weight: 700;
    font-style: normal;
}
/***********************************/

/* Milestones */
.milestonesImages {
    position: absolute;
    border-radius: 500px;
    width: 50px;
    height: 50px;
    z-index: 2;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.603);
}

.bar {
    position: absolute;
    width: 250px;
    height: 10px;
    background: #F5865B;
}

#spotify {
    top: 930px;
    left: 500px;
    width: 250px;
    height: 250px;
}

#barSpotify {
    top: 970px;
    left: 625px;
    width: 350px;
}

#nrjAwards {
    top: 660px;
    left: 600px;
    width: 250px;
    height: 250px;
}

#barNJR {
    top: 700px;
    left: 725px;
    width: 350px;
}

#los40 {
    top: 760px;
    left: 400px;
    width: 150px;
    height: 150px;
}

#barLos40 {
    top: 800px;
    left: 225px;
}
/***********************************/

